.header {
	border: 1px solid black;
	margin: 0;

}

.header{
	
	padding: 15px;
	font-size: 20px;
}

#outer{
	width:90%;
	max-width:600px;
	background:#fff;
	margin: 20px auto;
}

#cover{
	border:2px solid #00c2cb;
	padding:15px 0;
}

.main{
	table-layout:fixed;
	width:94%;
	border:0;
	border-collapse:collapse;
	margin:0 auto
}

.main td{
	padding:0 8px;
	vertical-align:middle;
	border:0
}

.main input{
	width:100%;
	border:1px solid #00c2cb;
	margin:2px 0;
	padding:0 2%;
	height:22px;
	text-align:right
}
	
.heading{
	text-align:center;
	font-weight:bold;
}



.main select{
	width:100%;
	border:1px solid #00c2cb;
	margin:2px 0;
	background:#fff;
	height:22px
}

.content{
	width:50%
}

.main button{
	width:100%;
	font-weight:bold;
	margin:3px 0;
}

button{
	background-color: #00c2cb;
	border: none;
}

button:hover {
	cursor: pointer;
	background-color: #06959c;
}

.description {
	margin: 40px;
	font-family: sans-serif;
	font-size: 20px;
}