    .container {
        text-align: center;
        font-size: larger;
    }
    
    .container1 {
        text-align: left;
    }
    
    .container3 {
        margin: 50px;
    }
    
    .container4 {
        margin: 50px;
    }